@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Sistema de Inventario</title>
    <link rel="stylesheet" href="~/lib/Real_Use/Fontawesome_v6.6.0/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/Real_Use/Bootstrap_v5.3.3/Content/bootstrap.min.css" asp-append-version="true" />
    @if ((string)ViewData["Title"] == "Index")
    {
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.jqueryui.css"
            asp-append-version="true">

        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.jqueryui.css"
            asp-append-version="true">
    }
    @if ((string)ViewData["Title"] != "Index")
    {
        <link rel="stylesheet"
            href="~/lib/Real_Use/JQuery_Datatables_v1.10.15/Content/DataTables/css/jquery.dataTables.min.css"
            asp-append-version="true" />
        <link rel="stylesheet"
            href="~/lib/Real_Use/JQuery_Datatables_v1.10.15/Content/DataTables/css/responsive.dataTables.min.css"
            asp-append-version="true" />
    }
    <link rel="stylesheet" href="~/lib/Real_Use/Sweet_Alert_2_v1.0.1/staticwebassets/bootstrap4Theme.min.css"
        asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/Real_Use/Toastr_v2.1.1/content/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Extra.css" asp-append-version="true" />
    @if ((string)ViewData["Title"] == "Index")
    {
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" asp-append-version="true">
    }
    @if ((string)ViewData["Title"] != "Index")
    {
        <link rel="stylesheet" href="~/lib/Real_Use/JQuery_UI_Combined_v1.13.3/Content/themes/base/jquery-ui.min.css"
            asp-append-version="true" />
    }
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            @if (User.IsInRole("Administrador"))
            {
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home"
                    asp-action="Index">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fa-brands fa-wolf-pack-battalion fa-2xl"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Sistema de Inventario<sup>2.0</sup></div>
                </a>
            }

            @if (User.IsInRole("Empleado"))
            {
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area=""
                    asp-controller="Management" asp-action="Supply">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fa-brands fa-wolf-pack-battalion fa-2xl"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Sistema de Inventario<sup>2.0</sup></div>
                </a>
            }

            @if (User.IsInRole("Administrador"))
            {
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            }

            @if (User.IsInRole("Empleado"))
            {
                <!-- Divider -->
                <hr class="sidebar-divider">
            }

            @if (User.IsInRole("Administrador"))
            {
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-gauge"></i>&nbsp;&nbsp;<span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            }

            @if (User.IsInRole("Administrador"))
            {
                <!-- Heading -->
                <div class="sidebar-heading">
                    Sección 01
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#/" data-toggle="collapse" data-target="#Collapse_01"
                        aria-expanded="true" aria-controls="Collapse_01">
                        <i class="fa-solid fa-users"></i>&nbsp;&nbsp;<span>Personal</span>
                    </a>
                    <div id="Collapse_01" class="collapse" aria-labelledby="Collapse_01" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Administrar Usuarios:</h6>
                            <a class="collapse-item" asp-area="" asp-controller="Staff" asp-action="User">Usuarios</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            }

            <!-- Heading -->
            <div class="sidebar-heading">
                Sección 02
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#/" data-toggle="collapse" data-target="#Collapse_02"
                    aria-expanded="true" aria-controls="Collapse_02">
                    <i class="fa-solid fa-list-check"></i>&nbsp;&nbsp;<span>Mantenimiento</span>
                </a>
                <div id="Collapse_02" class="collapse" aria-labelledby="Collapse_02" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Administrar Recursos:</h6>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a class="collapse-item" asp-area="" asp-controller="Management"
                                asp-action="Category">Categorías de Insumos</a>
                            <a class="collapse-item" asp-area="" asp-controller="Management" asp-action="Supplier">
                                Proveedores de
                                Insumos
                            </a>
                        }
                        <a class="collapse-item" asp-area="" asp-controller="Management" asp-action="Supply">Insumos</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            @if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
            {
                <!-- Heading -->
                <div class="sidebar-heading">
                    Sección 03
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#/" data-toggle="collapse" data-target="#Collapse_03"
                        aria-expanded="true" aria-controls="Collapse_03">
                        @if (User.IsInRole("Administrador"))
                        {
                            <i class="fa-solid fa-folder-plus"></i>
                        }

                        @if (User.IsInRole("Empleado"))
                        {
                            <i class="fa-solid fa-folder-minus"></i>
                        }
                        &nbsp;&nbsp;<span>Transacción</span>
                    </a>
                    <div id="Collapse_03" class="collapse" aria-labelledby="Collapse_03" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Administrar Entradas:</h6>
                            <a class="collapse-item" asp-area="" asp-controller="Transaction"
                                asp-action="Supply">Insumos</a>
                            <a class="collapse-item d-flex flex-row align-items-center" asp-area=""
                                asp-controller="Transaction" asp-action="Middle">Middle&nbsp;&nbsp;<span class=""
                                    id="Count_Middle"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            }

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex flex-row justify-content-between p-3">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    @if ((string)ViewData["Title"] == "Index")
                    {
                        <label class="mb-0">Dashboard</label>
                    }

                    @if ((string)ViewData["Title"] == "Privacy")
                    {
                        <label class="mb-0">Política de Privacidad</label>
                    }

                    @if ((string)ViewData["Title"] == "User")
                    {
                        <label class="mb-0">Usuarios</label>
                    }

                    @if ((string)ViewData["Title"] == "Category")
                    {
                        <label class="mb-0">Categorías</label>
                    }

                    @if ((string)ViewData["Title"] == "Supplier")
                    {
                        <label class="mb-0">Proveedores</label>
                    }

                    @if ((string)ViewData["Title"] == "Supply")
                    {
                        <label class="mb-0">Insumos</label>
                    }

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#/" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span
                                    class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewData["Nombre_Apellido_Usuario_String"]</span>
                                <img class="img-profile rounded-circle"
                                    src="~/User_Images/@ViewData["Imagen_Usuario_String"]">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#/">
                                    <i class="fa-solid fa-user"></i>&nbsp;&nbsp;@ViewData["E_Mail_Usuario_String"]
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#/" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex flex-row justify-content-between small">
                        <div class="text-muted">&copy; @DateTime.Now.Year Sistema de Inventario</div>
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidad</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#">
        <i class="fa-solid fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar Sesión" Para Salir del Sistema</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" asp-area="" asp-controller="Access"
                        asp-action="Access_Controller_Log_Out">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/Real_Use/JQuery_v3.7.1/Scripts/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <script src="~/js/Extra.js" asp-append-version="true"></script>
    @if ((string)ViewData["Title"] == "Index")
    {
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" asp-append-version="true"></script>
    }
    @if ((string)ViewData["Title"] != "Index")
    {
        <script src="~/lib/Real_Use/JQuery_UI_Combined_v1.13.3/Scripts/jquery-ui-1.13.3.min.js"
            asp-append-version="true"></script>
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/Real_Use/Bootstrap_v5.3.3/Scripts/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @if ((string)ViewData["Title"] == "Index")
    {
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.jqueryui.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.js"
            asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.jqueryui.js"
            asp-append-version="true"></script>
    }
    @if ((string)ViewData["Title"] != "Index")
    {
        <script src="~/lib/Real_Use/JQuery_Datatables_v1.10.15/Scripts/DataTables/jquery.dataTables.min.js"
            asp-append-version="true"></script>
        <script src="~/lib/Real_Use/JQuery_Datatables_v1.10.15/Scripts/DataTables/dataTables.responsive.min.js"
            asp-append-version="true"></script>
    }
    <script src="~/lib/Real_Use/JQuery_Loading_Overlay_v2.1.5/Scripts/loadingoverlay.min.js"
        asp-append-version="true"></script>
    <script src="~/lib/Real_Use/Sweet_Alert_2_v1.0.1/staticwebassets/sweetAlert2.min.js"
        asp-append-version="true"></script>
    <script src="~/lib/Real_Use/Toastr_v2.1.1/scripts/toastr.min.js" asp-append-version="true"></script>
    <script src="~/lib/Real_Use/Fontawesome_v6.6.0/js/all.min.js" asp-append-version="true"></script>
    <script src="~/lib/Real_Use/JQuery_Validation_v1.19.5/dist/jquery.validate.min.js"
        asp-append-version="true"></script>
    <script src="~/lib/Real_Use/Chart.js_v3.7.1/3.7.1/content/Scripts/chart.min.js" asp-append-version="true"></script>
    @RenderSection("Java_Script", required: false)
</body>

</html>